openapi: 3.1.0
info: 
  title: SGRiichi Admin Portal Web Application API
  summary: API for SGRiichi Admin Portal Web Application
  version: 1.0.0
servers:
  - url: https://api.sgriichi.com/v1
    description: Production server
  - url: https://staging-api.sgriichi.com/v1
    description: Staging server
paths:
  /games:
    get:
      summary: Get a list of games
      description: 'Get a list of all games in the system.'
      responses:
        '200':
          description: A list of games
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameInfo'
    post:
      summary: Create a new game
      description: 'Create a new game in the system.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGameRequest'
      responses:
        '200':
          description: OK
  /games/{id}:
    delete:
      summary: Delete a game
      description: 'Delete game from system.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
  /games/{id}/results:
    get:
      summary: Get game results
      description: 'Get results of a specific game by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameResult'
    patch:
      summary: Update game results
      description: 'Update results of a specific game by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameResult'
      responses:
        '200':
          description: OK
  /users:
    get:
      summary: Get a list of users
      description: 'Get a list of all users in the system.'
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      summary: Create a new user
      description: 'Add a new user to the system.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The email address of the user
                role:
                  type: string
                  description: The role of the user
      responses:
        '200':
          description: OK
  /users/{id}:
    get:
      summary: Get a user by ID
      description: 'Get a user by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    patch:
      summary: Update a user by ID
      description: 'Update a user by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: The role of the user
      responses:
        '200':
          description: OK
  /players:
    get:
      summary: Get a list of players
      description: 'Get a list of players in the system.'
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            description: Filter players by status (e.g., active, pending, suspended)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Player'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
  /players/{id}:
    get:
      summary: Get a player by ID
      description: 'Get a player by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
    patch:
      summary: Update a player by ID
      description: 'Update a player by ID. Used to either approve or reject a player registration.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: The status of the player (e.g., active, pending, suspended)
      responses:
        '200':
          description: OK
  /events:
    get:
      summary: Get a list of events
      description: 'Get a list of events in the system.'
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSummaryResponse'
    post:
      summary: Create a new event
      description: 'Create a new event.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: OK
  /events/{id}:
    get:
      summary: Get an event by ID
      description: 'Get an event by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailResponse'
    patch:
      summary: Update an event by ID
      description: 'Update an event by ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: OK
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the user
        username:
          type: string
          description: The username of the user
        email:
          type: string
          description: The email address of the user
        role:
          type: string
          description: The role of the user
    Player:
      type: object
      properties:
        pid:
          type: integer
          description: Unique identifier for the player
        display_name:
          type: string
          description: The display name of the player
        telegram_id:
          type: integer
          description: The Telegram ID of the player
        region:
          type: string
          description: The region the player is from
        status:
          type: string
          description: The status of the player (e.g., active, pending, suspended)
    GameInfo:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the game
        date:
          type: string
          format: date-time
          description: The date and time when the game was played
        venue:
          type: string
          description: The venue where the game is played
        mode:
          type: string
          description: The mode of the game
        ruleset:
          type: string
          description: The ruleset used for the game
        players:
          type: array
          items:
            $ref: '#/components/schemas/Player'
          description: List of players in the game
      required:
        - date
        - venue
        - mode
        - ruleset
        - players
    GameResult:
      type: array
      items:
        type: object
        properties:
          player_id:
            type: integer
            description: Unique identifier for the player
          name:
            type: string
            description: The name of the player
          score:
            type: integer
            description: The score achieved by the player in the game
          position:
            type: integer
            description: The final position of the player in the game (1 for first place, etc.)
          penalty:
            type: integer
            description: Any penalty points incurred by the player in the game
    CreateGameRequest:
      type: object
      required:
        - game_info
        - game_result
      properties:
        game_info:
          $ref: '#/components/schemas/GameInfo'
        game_result:
          $ref: '#/components/schemas/GameResult'
    EventSummaryResponse:
      type: object
      required:
        - id
        - title
        - start-date
        - end-date
        - location
      properties:
        id:
          type: integer
          description: Unique identifier for the event
        title:
          type: string
          description: The title of the event
        start-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to start
        end-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to end
        location:
          type: string
          description: The location where the event will take place
    CreateEventRequest:
      type: object
      required:
        - title
        - start-date
        - end-date
        - location
        - scale
        - influence_factor
        - ruleset_id
        - num_games
        - total_players
      properties:
        title:
          type: string
          description: The title of the event
        start-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to start
        end-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to end
        location:
          type: string
          description: The location where the event will take place
        scale:
          type: string
          description: The scale of the event (e.g., local, regional, national, international)
        influence_factor:
          type: string
          description: The influence factor of the event (e.g., individual or team)
        ruleset_id:
          type: integer
          description: The ruleset used for the event
        num_games:
          type: integer
          description: The number of games to be played in the event
        total_players:
          type: integer
          description: The total number of players expected to participate in the event
    EventDetailResponse:
      type: object
      properties:
        title:
          type: string
          description: The title of the event
        start-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to start
        end-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to end
        scale:
          type: string
          description: The scale of the event (e.g., local, regional, national, international)
        location:
          type: string
          description: The location where the event will take place
        influence_factor:
          type: string
          description: The influence factor of the event (e.g., individual or team)
        ruleset_id:
          type: integer
          description: The ruleset used for the event
        num_games:
          type: integer
          description: The number of games to be played in the event
        total_players:
          type: integer
          description: The total number of players expected to participate in the event
    UpdateEventRequest:
      type: object
      properties:
        title:
            type: string
            description: The title of the event
        start-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to start
        end-date:
          type: string
          format: date-time
          description: The date and time when the event is scheduled to end
        scale:
          type: string
          description: The scale of the event (e.g., local, regional, national, international)
        location:
          type: string
          description: The location where the event will take place
        influence_factor:
          type: string
          description: The influence factor of the event (e.g., individual or team)
        ruleset_id:
          type: integer
          description: The ruleset used for the event
        num_games:
          type: integer
          description: The number of games to be played in the event
        total_players:
          type: integer
          description: The total number of players expected to participate in the event
          